input_driver = "linuxraw"
input_device = "pixel2_joypad"
input_vendor_id = "0"
input_product_id = "0"

# Pixel2 joypad button order as exposed by the stock RK3326 kernel.
input_a_btn = "0"
input_b_btn = "1"
input_x_btn = "3"
input_y_btn = "4"
input_l_btn = "6"
input_r_btn = "7"
input_l2_btn = "8"
input_r2_btn = "9"
input_select_btn = "10"
input_start_btn = "11"
input_up_btn = "12"
input_down_btn = "13"
input_left_btn = "14"
input_right_btn = "15"
input_enable_hotkey_btn = "10"
input_exit_emulator_btn = "11"
